In [ ]:
# 216270307045
# Hitarth M Hindocha
# to create a dataframe from a dictionary and display it

#######################################################

import pandas as pd
people = [
    {'name': 'Hitarth', 'age': 18, 'city': 'Porbandar'},
    {'name': 'Yash', 'age': 18, 'city': 'Kutiyana'},
    {'name': 'Heena', 'age': 18, 'city': 'Porbandar'},
    
    {'name': 'Grishma', 'age': 18, 'city': 'Porbandar'},
]
print("Dictionary is \n")
print(people)
print("\nData Frame is \n")
df=pd.DataFrame(people)
print(df)

#######################################################

In [ ]:
# 216270307045
# Hitarth M Hindocha
#  to sort the DataFrame first by 'name' in ascending order

#######################################################

import pandas as pd
people = [
    {'name': 'Hitarth', 'age': 18, 'city': 'Porbandar'},
    {'name': 'Yash', 'age': 18, 'city': 'Kutiyana'},
    {'name': 'Heena', 'age': 18, 'city': 'Porbandar'},
    
    {'name': 'Grishma', 'age': 18, 'city': 'Porbandar'},
]
df=pd.DataFrame(people)
print("Data Frame is \n")
print(df)
print("\nData Frame after Sorting by name \n")
print(df.sort_values('name'))

#######################################################

In [ ]:
# 216270307045
# Hitarth M Hindocha
# to delete the one specific column from the DataFrame

#######################################################

import pandas as pd

people = [
    {'name': 'Hitarth', 'age': 18, 'city': 'Porbandar'},
    {'name': 'Yash', 'age': 18, 'city': 'Kutiyana'},
    {'name': 'Heena', 'age': 18, 'city': 'Porbandar'},
    
    {'name': 'Grishma', 'age': 18, 'city': 'Porbandar'},
]
df=pd.DataFrame(people)
print("Data Frame is \n")
print(df)
print("\n Data Frame after removing City column is \n")
newdf=df.drop(columns=['city'])
print(newdf)

#######################################################

In [ ]:
# 216270307045
# Hitarth M Hindocha
# to write a DataFrame to CSV file using tab separator 

#######################################################

import pandas as pd

days=[{"1":"Monday","2":"Tuesday","3":"Wednesday","4":"Thursday","5":"Friday","6":"Saturday","7":"Sunday"}]
df=pd.DataFrame(data=days)
print("Original DataFrame is \n")
print(df)

df.to_csv('days.csv',sep="\t")
print("\nData from days.csv is \n")
rd_df=pd.read_csv('days.csv')
print(rd_df)

#######################################################